rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
      match /alarms/{alarmId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
      match /routines/{routineId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
      match /homeRooms/{roomId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
      match /healthLogs/{logId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }
  }
}
